<body class="welcome_body">
  <div class="skinny_wrapper wrapper_padding welcome_page">
      <h1>Jr. Web Developer</h1><br>
      <h1><a> <%= link_to "Welcome", welcome_index_path%></a></h1>
  </div>

</body>
